{% extends 'base.html.twig' %}

{% block title %}Votre profile{% endblock %}

{% block body %}

    <h1>Profile</h1>
    <div class="row">
        <div class="d-flex flex-row justify-content-center">
            {% if user.getProfilePicture() is not empty %}
                <img src="{{ asset('uploads/images/profile_pictures/' ~ user.profile_picture) }}" class="rounded-circle" alt="Profile picture" />
            {% else %}
                <img src="{{ asset('uploads/images/profile_pictures/default.jpg') }}" class="rounded-circle" alt="Profile picture" />
            {% endif %}
        </div>
        <div class="d-flex flex-row justify-content-around mt-4">
            <div class="username">
                <label for="username">Username</label>
                <p class="fw-bold">{{user.username}}</p>
            </div>
            <div class="email">
                <label for="email">Email</label>
                 <p class="fw-bold">{{user.email}}</p>
            </div>
            <div class="email">
                <label for="email">Password</label>
                 <p class="fw-bold">**********</p>
            </div>
        </div>
        <a class="btn btn-primary">Edit Profile</a>
    </div>
    


{% endblock %}

