{% extends 'base.html.twig' %}

{% block body %}
    <h2>Liste des Utilisateurs</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Email</th>
                <!-- Ajoutez d'autres colonnes si nécessaire -->
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <!-- Ajoutez d'autres données utilisateur si nécessaire -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}