<form method="post" class="w-100" action="{{ path('app_produit_delete', {'id': produit.id}) }}" onsubmit="return confirm('{{ 'confirmdelete'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
    <button type="button w-100" class="btn btn-danger">{{ 'produit.buttondelete'|trans }}</button>
</form>
