{% extends 'base.html.twig' %}

{% block title %}{{ 'produit.create'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'produit.create'|trans }}</h1>

    {{ include('produit/_form.html.twig') }}

{% endblock %}

