{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
    <h1>Gamme de Parfum<h1>
    {% if produits is not empty %}
        {% for prod in produits %}
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{asset('uploads/images/products_photo/' ~ prod.photo)}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ prod.nom }}</h5>
                <p class="card-text">{{ prod.description }}</p>
            </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
        </div>

        {% endfor %}
    {% else %}
        <p>Il n'y a aucune catégorie</p>
    {% endif %}

{% endblock %}
